/* This targets the <Container/> div */
.MuiContainer-root {
    height: 80vh;

    margin-top: 3rem;
}

/* This targets the <MetrialTable/> container div */
.MuiPaper-root {
    overflow: auto;
    max-height: 80vh;
}