nav {
    height: 64px;

    background-color: whitesmoke;

    padding: 0 3rem;

    display: flex;
}

nav > h1 {
    margin: 0;

    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 36px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 768px) {
    nav {
      justify-content: center;
    }
  }